.response-item
  %h5 Toutes nos réponses
  %ul
    %li
      = link_to "Qu'est-ce que c'est Bientôt Chez Soi ?", "#"
    %li
      = link_to "Comment être-vous rémunérés ?", "#"
    %li
      = link_to "Pourquoi avoir confiance en nous ?", "#"
    %li
      = link_to "Qu'est-ce qu'une start up?", "#"
    %li
      = link_to "Quest-ce que ça veut dire 'place de marché' ?", "#"
.question-item
  %h5 J'ai une question !
  %p Je vous écris à l'aide de mon support préféré.
.social-item
  = link_to "", "", class: "fab fa-facebook fa-2x"
  = link_to "", "", class: "fab fa-twitter-square fa-2x"
  = link_to "", "", class: "fas fa-envelope-square fa-2x"
