.banner
  .banner-content
    %h1 Mieux comprendre l'immobilier

.preview.container
  %h5 Ici, j'apprends à parler l'immobilier
  %p Ce glossaire reprend de nombreuses abréviations ou mot du jargon immobilier. Je pourrais mieux comprendre mon notaire, mon agent immobilier ainsi que les règles de l'achat et de la vente...

.glossaire.container
  .left-item
    .response-item
      %h5 Toutes nos réponses
      %ul
        %li
          = link_to "Qu'est-ce que c'est Bientôt Chez Soi ?", "#"
        %li
          = link_to "Comment être-vous rémunérés ?", "#"
        %li
          = link_to "Pourquoi avoir confiance en nous ?", "#"
        %li
          = link_to "Qu'est-ce qu'une start up?", "#"
        %li
          = link_to "Quest-ce que ça veut dire 'place de marché' ?", "#"

    .question-item
      %h5 J'ai une question !
      %p Je vous écris à l'aide de mon support préféré.

    .social-item
      = link_to "", "", class: "fab fa-facebook fa-2x"
      / %i.fab.fa-facebook.fa-2x
      = link_to "", "", class: "fab fa-twitter-square fa-2x"
      / %i.fab.fa-twitter-square.fa-2x
      = link_to "", "", class: "fas fa-envelope-square fa-2x"
      / %i.fas.fa-envelope-square.fa-2x

  .right-item
    .alphabet-item
      %h5 Recherche par lettre
      .letters-item
        - @alphabet.each do |letter|
          = link_to letter, ""

      .glossary-item
        #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default
            #headingOne.panel-heading{:role => "tab"}
              %h4.panel-title
                %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                  Collapsible Group Item #1
            #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .panel-body
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .panel.panel-default
            #headingTwo.panel-heading{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                  Collapsible Group Item #2
            #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
              .panel-body
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          .panel.panel-default
            #headingThree.panel-heading{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                  Collapsible Group Item #3
            #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .panel-body
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


